@font-face {
  font-family: "Capture it";
  src: url(../fonts/Captureit.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/RobotoRegular.ttf);
}
@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/RobotoBold.ttf);
}
@font-face {
  font-family: "Lifehack Basic";
  src: url(../fonts/Lifehack-Basic.otf);
}
@font-face {
  font-family: "Roboto Light";
  src: url(../fonts/RobotoLight.ttf);
}
body {
  margin: 0;
  background: #f7f6f7;
}
.btn_light {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: rgb(254, 254, 254);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.308;
  text-align: center;

  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 10px;
  width: 207px;
  height: 48px;
  background: transparent;
  outline: 0;
  cursor: pointer;
}
.title {
  font-size: 35px;
  font-family: "Roboto Bold", sans-serif;
  color: rgb(246, 165, 1);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
/* HEADER */

.logo {
  font-size: 30px;
  font-family: "Capture it", sans-serif;
  color: rgb(254, 254, 254);
  line-height: 1.8;
  text-decoration: none;
}
#header {
  position: absolute;
  width: 100%;
}
#header_container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header_nav_list {
  display: flex;
  justify-content: space-between;
  width: 580px;
  padding: 0;
}
.header_nav_item {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 3.375;
}
.header_nav_item:first-child {
  list-style: none;
}
.header_nav_item_link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.header_nav_item_link.active {
  font-family: "Roboto Bold", sans-serif;
}
.header_btn:hover {
  border-color: #f6a501;
  color: #f6a501;
  transition-duration: 250ms;
}

/* HERO */

#hero {
  background: url(../images/hero/hero_bg.png);
  height: 908px;
  background-position: center;
}
#hero_container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 147px;
}
#hero_title {
  font-size: 55px;
  font-family: "Capture it", sans-serif;
  color: rgb(246, 165, 1);
  line-height: 130px;
  text-align: center;
  text-shadow: 0px 0px 91.16px rgba(2, 7, 8, 0.004);

  margin: 0;
  width: 600px;
  height: 130px;
  background-image: url(../images/hero/hero_outline.png);
  background-size: 100% 100%;
}
#hero_btn {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;

  width: 209px;
  height: 50px;
  border-radius: 10px;
  background-image: -moz-linear-gradient(
    180deg,
    rgb(255, 199, 59) 0%,
    rgb(235, 161, 0) 100%
  );
  background-image: -webkit-linear-gradient(
    180deg,
    rgb(255, 199, 59) 0%,
    rgb(235, 161, 0) 100%
  );
  background-image: -ms-linear-gradient(
    180deg,
    rgb(255, 199, 59) 0%,
    rgb(235, 161, 0) 100%
  );

  margin-top: 60px;
  outline: 0;
  border: 0;
}
#hero_btn:hover {
  box-shadow: 0px 0px 13.5px 1.5px rgba(204, 142, 6, 1);
  cursor: pointer;
  transition-duration: 250ms;
}
#hero_text {
  font-size: 40px;
  color: #ffffff;
  font-family: "Lifehack Basic";
  line-height: 1;
  text-align: left;
  text-shadow: 0px 0px 14.25px rgba(2, 7, 8, 0.004);
  -moz-transform: matrix(
    0.99320644518279,
    -0.11636561883718,
    0.11636561883718,
    0.99320644518279,
    0,
    0
  );
  -webkit-transform: matrix(
    0.99320644518279,
    -0.11636561883718,
    0.11636561883718,
    0.99320644518279,
    0,
    0
  );
  -ms-transform: matrix(
    0.99320644518279,
    -0.11636561883718,
    0.11636561883718,
    0.99320644518279,
    0,
    0
  );
  margin-top: 35px;
}
#hero_text span {
  color: rgb(246, 166, 1);
}

/* ADVANTAGE */

#advantages_container {
  width: 1170px;
  margin: 0 auto;
}
#advantage_list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}
.advantage_item {
  width: 376px;
  text-align: center;
  margin: 25px 0;
}
.advantage_item_img {
  margin: 0 auto 20px auto;
  width: 96px;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantage_item_title {
  font-size: 20px;
  font-family: "Roboto Bold", sans-serif;
  color: rgb(51, 23, 3);
  font-weight: bold;
  line-height: 1.252;
}
.advantage_item_text {
  font-size: 18px;
  font-family: "Roboto Light", sans-serif;
  color: rgb(51, 23, 3);
  line-height: 1.222;
  text-align: center;
  margin: 0;
}

/* DESCRIPTION */
#descriprion {
  height: 999px;
  background-image: url(../images/description/dscrptn_bg.png);
  background-position: center;
}
#descriprion .title {
  padding-top: 200px;
}
#descriprion_container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}
/* #descriprion_info {
  width: 420px;
} */
#descriprion_info_title {
  font-size: 30px;
  font-family: "Lifehack Basic", sans-serif;
  color: rgb(254, 254, 254);
  line-height: 1.167;
  width: 420px;
  margin: 115px 0 45px 0;
}
.descriprion_info_text {
  font-size: 16px;
  font-family: "Roboto Light", sans-serif;
  color: rgb(254, 254, 254);
  line-height: 1.563;
  text-align: center;
  margin: 15px 0;
  width: 398px;
}

/* MENU */

#menu_container {
  width: 1170px;
  margin: 0 auto;
}
#menu .menu_title {
  color: rgb(51, 23, 3);
  margin: 70px auto 45px auto;
}
#menu_category_list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 30px auto;
}
.menu_category_item {
  font-size: 20px;
  font-family: "Roboto Light", sans-serif;
  color: rgb(51, 23, 3);
  text-align: center;
  border: 1px solid transparent;
  border-radius: 10px;

  margin: 0 10px;
  padding: 10px 15px;
}
.menu_category_item.active {
  font-family: "Roboto Bold", sans-serif;
  border: 1px solid rgb(51, 23, 3);
}
.menu_category_item:hover {
  border: 1px solid rgb(51, 23, 3);
  cursor: pointer;
  transition-duration: 250ms;
}
.menu_list {
  max-width: 1170px;
  margin: 0 auto;
}
.menu_burger_item {
  display: flex;
  justify-content: space-between;
}
.menu_burger_img {
  width: 580px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_burger_img img {
  max-width: 100%;
  max-height: 100%;
}
.menu_burger_info_wrapper {
  width: 500px;
}
.menu_burger_dscrptn_title {
  font-size: 25px;
  font-family: "Roboto Bold", sans-serif;
  color: rgb(51, 23, 3);
  text-transform: uppercase;
  margin: 100px 0 35px 0;
}
.menu_burger_dscrptn_text {
  font-size: 16px;
  font-family: "Roboto Light", sans-serif;
  color: rgb(51, 23, 3);
  line-height: 25px;
  margin-bottom: 50px;
}
.menu_burger_properties {
  display: flex;
}
.menu_burger_property:first-child {
  margin-right: 80px;
}
.menu_burger_property img {
  margin-right: 10px;
}
.menu_burger_property span {
  font-size: 20px;
  font-family: "Roboto Light", sans-serif;
  color: rgb(51, 23, 3);
  line-height: 1.5;
}
.menu_slider {
  display: flex;
  margin-bottom: 95px;
  margin-top: 10px;
}
.menu_burger_slider_item {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  opacity: 0.3;
}
.menu_slider .menu_burger_slider_item.slick-current {
  opacity: 1;
}
.menu_slider .menu_burger_slider_item:focus {
  outline: 0;
}
.menu_slider_item:hover {
  opacity: 1;
  cursor: pointer;
}
.menu_burger_slider_item img {
  max-width: 100%;
  max-height: 100%;
}
.slick-slide img {
  display: inline;
}
.slick-initialized .slick-slide {
  display: flex;
}
.slick-prev:before {
  content: url(../images/menu/arrow_left.png);
}
.slick-next:before {
  content: url(../images/menu/arrow_right.png);
}
.slick-next {
  left: 600px;
}
#fries_container,
#sauce_container,
#drinks_container {
  display: none;
}
